@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --current-color-mode: #ffffff;
    --color-page-background: #ffffff;
    --color-popover-background: #ffffff;
    --text-color: #000000;
  }

  :root[data-color-mode="dark"] {
    --current-color-mode: #000000;
    --color-page-background: #111111;
    --color-popover-background: #111111;
    --text-color: #ffffff;
  }
}

body {
  color: var(--text-color);
  background-color: var(--color-page-background);
  font-family: var(--font-roboto-flex), var(--font-roboto-mono);
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-track {
  @apply rounded bg-neutral-bg;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-neutral-border;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-border-hover;
}
